* {
  box-sizing: border-box;
  font-family: inherit;
}

header{
  background-color: blue;
  position: fixed;
  width:100%;
  left:0px;
  top: 0px;
  height: 10%;
  box-shadow: 0px 6px 5px grey;
}

input{
  
}

#logo{
  position: relative;
}

#login_wrapper{
  position: relative;
  left: 70%;
  top: -40%;
  margin-bottom: 55px;
}
