header{
  background-color: blue;
  position: fixed;
  width:100%;
  left:0px;
  top: 0px;
  height: 10%;
  box-shadow: 0px 6px 5px grey;
}

input{
  margin-right: 1rem;
  padding-right: 1rem;
}

#logo{
  position: relative;
}

#login_wrapper{
  position: absolute;
  left:56%;
  top: 50%;
}
